<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IDPWM</title>
    <link rel="stylesheet" href="./style_d.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
</head>
<body>
    <aside>
        <div id="idp-logo"></div>
        <br>
        <h1>Dashboard</h1>
        <br>
        <div id="home" class="d-opts">Home</div>
        <div id="pers" class="d-opts">Permissions</div>
        <div id="regs" class="d-opts">Registers</div>
        <div id="dbss" class="d-opts">Databases</div>
    </aside>
    <main>
        <p>Hello, <%= user %></p>
    </main>
</body>
</html>