:root {
    --color-let-aside: white;
    --color-bor-aside: white;
    --color-let: black;
    --color-s: aquamarine;
    --color-bg: lightcyan;
    --color4: aquamarine;
    --color-ph: rgba(37, 0, 139, 0.926);
    --color-hov: #AE0637;
  }
  
*{
margin: 0;
padding: 0;
/*border: solid 1px;*/
text-align: center;
/*border-radius: 5px;*/
font-family: 'Ubuntu', sans-serif;
}


aside{
    float: left;
    width: 20%;
    height: 99%;
    background-color: var(--color-ph);
    color: var(--color-let-aside);
}

#idp-logo{
    background: url("./images/idp_logo.png");
    border: solid 1px;
    border-radius: 50%;
    height: 100px;
    width:  100px;
    margin-left: calc(99%/2 - 100px/2 );
    background-position: 50% 50% !important;
    background-size: cover !important;
}

.d-opts{
    margin: 0 0 0 0;
    border: solid var(--color-bor-aside);
    border-width: 1px 0 0 0;
    padding: 1em 0 1em 0;
}

.d-opts:last-child{
    border-width: 1px 0 1px 0;
}

.d-opts:hover,.d-opts:active{
    background-color: var(--color-hov) !important;
    transition: background-color 200ms linear;
}